body {
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.centered  {
    text-align: center;
    vertical-align: middle;
}

/*
# Ini Section
*/

.ini form {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
  }
  
  .ini form .form-control {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-right: 10px;
    border: none !important;
    background: none !important;
  }
  
  .ini form .form-control:hover,
  .ini form .form-control:focus {
    outline: none;
    box-shadow: none;
  }
/* Establecer el color de texto en azul fuerte para la barra de navegación */
.navbar-nav {
    color: #007bff; /* Color azul fuerte */
}

/* Estilo personalizado para la tarjeta (card) */
.custom-card {
    background-color: #f8f9fa; /* Color de fondo personalizado */
    border: 2px solid #007bff; /* Borde personalizado */
    border-radius: 10px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra personalizada */
}

/* Estilo para el contenido de la tarjeta */
.custom-card .card-title {
    font-size: 18px;
    margin-bottom: 8px;
    color: #007bff; /* Color del título */
}

.custom-card .card-text {
    font-size: 16px;
    margin-bottom: 4px;
}

